In [45]:
import pandas as pd

In [46]:
clothes_df = pd.read_csv('./clothing.csv')

In [47]:
ranked_clothes = clothes_df[['Review Text', 'Rating']].sort_values(by='Rating')

In [48]:
ranked_clothes

                                             Review Text  Rating
20289  I purchased these in january and today i am go...       1
14201  This coat is awful, just awful. i bought it ba...       1
22346  I followed the other reviews and sized down. n...       1
23019  This skirt is definitely not what i was expect...       1
18740  Quality was not what you expect from retailer,...       1
...                                                  ...     ...
10078  This is the perfect tank. it's super soft, gre...       5
10079  These tanks are very soft. i have two black an...       5
10080  Love the cut of this t-shirt. just loose enoug...       5
10082  But when i saw this top in person, urged by my...       5
23485  This dress in a lovely platinum is feminine an...       5

[23486 rows x 2 columns]

In [49]:
def create_sentiment(int):
    if int > 3:
        return 2
    if int == 3:
        return 1
    if int < 3:
        return 0

In [56]:
ranked_clothes['sentiment'] = ranked_clothes['Rating'].apply(create_sentiment)
ranked_clothes.sample(5)

                                             Review Text  Rating  sentiment
1155   I tried this jumpsuit on in the store and love...       5          2
7318   I bought this impulsively to wear to a wedding...       5          2
5255   I ordered an xxs and it fit perfectly. i love ...       5          2
21299  This is a beautiful top! extremely classy. loo...       5          2
15943  I love pilcro jeans.  i have many pairs and us...       4          2

In [54]:
def clean_commas(str):
    return str.replace(',', ';')

In [59]:
ranked_clothes['Review Text'] = ranked_clothes['Review Text'].apply(clean_commas)
ranked_clothes.sample(5)

AttributeError: 'float' object has no attribute 'replace'