In [25]:
import pandas as pd

In [26]:
clothes_df = pd.read_csv('./clothing.csv')

In [27]:
ranked_clothes = clothes_df[['Review Text', 'Rating']].sort_values(by='Rating')

In [22]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(headphones)
 s

NameError: name 'headphones' is not defined

In [6]:
ranked_clothes = clothes_df[['Review Text', 'Rating']].sort_values(by='Rating')
ranked_clothes.describe()

             Rating
count  23486.000000
mean       4.196032
std        1.110031
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000

In [11]:
range = 5 - 1
range

4

In [12]:
round(range/3)

1

In [ ]:
def create_sentiment(int):
    if int >= 1 and int <= 3
        return 0 
    if int >=2 and int <=5
        return 1
    if int >=4 and int <=